<div class="p-4">
    <partial name="_SearchForm" />

    @await Component.InvokeAsync("CategoriesWidget")
    @await Component.InvokeAsync("Top3PostWidget")
    @await Component.InvokeAsync("Top5PostsWidget")

    <h3 class="text-success mb-2">
        Đăng ký nhận tin mới
    </h3>
    @await Component.InvokeAsync("TagsWidget")
</div>